/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Custom Scrollbar Section Start Here */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
/* Custom Scrollbar Section End Here */

/* Defining the root */
:root{
    --bg-color: #fdfdfd;
    --primary: #353535;
    --secondary: #e24806;
    --tertiary: #f4f4f4;
    --fourth : #a7a7a7;
    --linear-background: linear-gradient(45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.54));
    --linear-background-destination: linear-gradient(to bottom,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.80));
}


.btn{
    border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
    background: transparent;
}

.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
    background: transparent;
}

.form-check-input[type=checkbox]{
    border-radius: 4px;
}

.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
    background: transparent;
}

.form-control{
    border-radius: 4px;
    border: none;
}

.form-select{
    border-radius: 4px;
}

/* Global Padding Section (cpadding => Custom Padding) */
.cpadding{
    padding: 40px 100px;
}

body{
    width: 100%;
    height: auto;
    background: var(--bg-color);
}


/* Navabar Section */
nav{
    padding: 10px 60px !important;
    background: var(--primary);
}
nav .logo{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--tertiary);
    letter-spacing: 0.08rem;
    transition: 0.5s ease-out;
}
nav .logo:hover{
    color: var(--secondary);
}
nav .nav-link{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--fourth);
    letter-spacing: 0.01rem;
    transition: 0.3s ease-out;
}
nav .nav-link:hover{
    color: var(--secondary);
}
nav .nav_active{
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--secondary);
    letter-spacing: 0.05rem;
}
/* Search Section */
.search_box{
    width: 350px;
    height: 40px;
    background: var(--fourth);
    border: 1px solid var(--fourth);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0;
}
.search_box input{
    width: 70%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
}
.search_btn:focus, .search_btn:active:focus, .search_btn.active:focus{
    outline:none;
    box-shadow:none;
    border: none;
    background: var(--secondary);
}
.search_box .search_btn{
    width: 30%;
    height: 100%;
    background: var(--secondary);
    color: var(--tertiary);
} 
.search_box .search_btn:hover{
    background: var(--secondary);
    color: var(--tertiary);
} 


/* Hero Section */
.hero_section{
    width: 100%;
    height: 70vh;
    /* padding: 0 60px; */
}
.carousel1{
    width: 100%;
    height: 70vh;
    background: var(--linear-background), url("https://cdn.pixabay.com/photo/2019/01/25/11/18/girl-3954232_960_720.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
}
.carousel2{
    width: 100%;
    height: 70vh;
    background: var(--linear-background), url("https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
}
.carousel3{
    width: 100%;
    height: 70vh;
    background: var(--linear-background), url("https://cdn.pixabay.com/photo/2017/10/23/05/56/summer-2880261_960_720.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
}
.carousel_box .blog_date{
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--fourth);
    letter-spacing: 0.01rem;
    margin-bottom: 1.2rem;
}
.carousel_box .blog_date span{
    font-size: 1.0rem;
    color: var(--secondary);
    font-weight: 600;
}
.carousel_box .blog_title{
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--tertiary);
    letter-spacing: 0.13rem;
    margin-bottom: 1.5rem;
}
.carousel_box a{
    width: 210px;
    height: 45px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--tertiary);
    transition: 0.5s ease-out;
}
.carousel_box a:hover{
    background: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--tertiary);
}


/* Top Categories Section */
.category_section{
    width: 100%;
    height: auto;
    gap: 1.5rem;
}
.category_box{
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid var(--fourth);
    background: rgba(154, 154, 154, 0.2);
    border-radius: 4px;
    flex-wrap: wrap;
    transition: 0.3s ease-out;
}
.category_box:hover{
    border: 1px solid var(--tertiary);
    background: none;
    box-shadow: 0 1px 12px rgba(154, 154, 154, 0.8);
}
.category_box img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 4px;
    object-position: center;
}
.category_box .category_title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary);
    letter-spacing: 0.08rem;
    padding: 10px 0 0 0;
}
/* Divider Section */
.divider_section{
    padding: 10px 100px;
}
.divider{
    width: 100%;
    height: 1px;
    background: rgba(154, 154, 154, 0.2);
}

/* Featured Section */
.feature_section{
    width: 100%;
    height: auto;
}
.box_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0.02rem;
    margin-bottom: 1.0rem;
}
.feature_box{
    width: 100%;
    height: auto;
    gap: 1.2rem;
}
.feature_card{
    position: relative;
}
.feature_long{
    width: 50%;
    height: 50vh;
    border-radius: 4px;
    overflow: hidden;
}
.feature_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-out;
}
.feature_card img:hover{
    transform: skew(-4deg) scale(1.1);
}
.feature_short{
    width: 25%;
    height: 50vh;
    border-radius: 4px;
    overflow: hidden;
}
.feature_data{
    position: absolute;
    bottom: 0;
    background: var(--linear-background-destination);
    width: 100%;
    height: auto;
    padding: 30px 25px 20px 25px;
    font-size: 0.99rem;
    font-weight: 500;
    color: var(--tertiary);
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;
}
.feature_date{
    font-size: 1.0rem;
    color: var(--fourth);
    font-weight: 400;
    margin-bottom: 0.2rem;
}
.feature_title{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--tertiary);
    letter-spacing: 0.02rem;
}

/* Top Video Section */
.video_section{
    width: 100%;
    height: auto;
}
.video_box{
    width: 100%;
    height: auto;
    gap: 1.3rem;
    flex-wrap: wrap;
}
.video_card{
    width: 315px;
    height: 25vh;
    border-radius: 4px;
    overflow: hidden;
}

/* Banner Section */
.banner_section{
    width: 100%;
    height: auto;
}
.banner_box{
    width: 100%;
    height: 30vh;
    background: var(--linear-background), url("https://cdn.pixabay.com/photo/2020/02/05/13/02/waterfalls-4821153_960_720.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    font-size: 2.2rem;
    color: var(--fourth);
}

/* Popular Section */
.popular_section{
    width: 100%;
    height: auto;
}
.popular_box{
    width: 100%;
    height: auto;
    gap: 1.3rem;
}
.popular_card{
    width: 450px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0 0.5px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s ease-out;
}
.popular_card:hover{
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0 0.5px 12px rgba(0, 0, 0, 0.25);
}
.img_box{
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}
.img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-out;
}
.img_box img:hover{
    transform: scale(1.1);
}
.popular_category{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary);
    padding: 5px 10px;
    color: var(--tertiary);
}

.popular_data{
    width: 100%;
    height: auto;
    padding: 12px 15px;
}
.publish_detail{
    width: 100%;
    height: auto;
    margin-bottom: 0.8rem;
}
.publish_detail a{
    font-size: 1.0rem;
    color: var(--fourth);
    transition: 0.5s ease-out;
}
.publish_detail i{
    font-size: 0.89rem;
}
.publish_detail a:hover{
    color: var(--secondary);
}
.popular_title{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0.01rem;
    margin-bottom: 0.5rem;
}
.popular_desc{
    font-size: 0.89rem;
    color: var(--fourth);
}
.read_more{
    font-size: 1.1rem;
    color: var(--secondary);
    font-weight: 500;
    letter-spacing: 0.03rem;
}
.read_more:hover{
    color: var(--secondary);
}

/* Latest Posts */
.latest_blog{
    width: 100%;
    height: auto;
}
.latest_box{
    width: 100%;
    height: auto;
    gap: 1.3rem;
    flex-wrap: wrap;
}
.latest_card{
    width: 310px;
    height: auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.015));
    border-radius: 4px;
    overflow: hidden;
}
.latest_card img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0.5rem;
}
.latest_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
}
.publish_by{
    font-size: 0.88rem;
    color: var(--fourth);
}
.publish_by i{
    font-size: 0.78rem;
}
.publish_date{
    font-size: 0.88rem;
    color: var(--fourth);
}
.publish_date i{
    font-size: 0.78rem;
}
.newsletter_box{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.newsletter_title{
    font-size: 1.1rem;
    color: var(--primary);
}
.social_section{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.social__box{
    width: 100%;
    height: auto;
    gap: 0.6rem;
    flex-wrap: wrap;
}
.social__box a{
    width: 46%;
    height: 40px;
}
.input_group{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input_group input{
    border: 1px solid var(--fourth);
    background: transparent;
}

/* Footer Section */
.footer_section{
    width: 100%;
    height: auto;
    background: var(--primary);
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary);
}
.footer_desc{
    font-size: 0.99rem;
    color: var(--fourth);
}
.social_account{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}
.social_box{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
    border: 2px solid var(--fourth);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--tertiary);
    transition: 0.5s ease-out;
}
.social_box:hover{
    background: rgba(226, 72, 6, 0.10);
    border: 2px solid var(--secondary);
}





/* End of Css */
