/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Custom Scrollbar Section Start Here */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
/* Custom Scrollbar Section End Here */

/* Defining the root */
:root{
    --bg-color: #e2e2e2;
    --primary: #353535;
    --secondary: #e24806;
    --tertiary: #f4f4f4;
    --fourth : #a7a7a7;
    --linear-background: linear-gradient(45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.54));
    --linear-background-destination: linear-gradient(to bottom,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.80));
}


.btn{
    border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}

.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}

.form-check-input[type=checkbox]{
    border-radius: 4px;
}

.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}

.form-control{
    border-radius: 4px;
    border: none;
}

.form-select{
    border-radius: 4px;
}

/* Global Padding Section (cpadding => Custom Padding) */
.cpadding{
    padding: 40px 60px;
}


/* Navabar Section */
nav{
    padding: 10px 60px !important;
    background: var(--primary);
}
nav .logo{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--tertiary);
    letter-spacing: 0.08rem;
    transition: 0.5s ease-out;
}
nav .logo:hover{
    color: var(--secondary);
}
nav .nav-link{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--fourth);
    letter-spacing: 0.01rem;
}
nav .nav-link:hover{
    color: var(--secondary);
}
nav .nav_active{
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--secondary);
    letter-spacing: 0.05rem;
}


/* End of Css */
